@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BurialDetails";
    ViewData["Head"] = "Further Details for burial " + @Model.PrimaryId;
    ViewData["Button"] = "Learn More";
    ViewData["Btn"] = "btn btn-primary btn - xl text - uppercase";
}

@model BestFinalMerged
<!-- Services-->
<section class="page-section" id="services">
    <input type="hidden" asp-for="@Model.PrimaryId" />
    <div class="container bg-light">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Burial Info</h2>
            <h3 class="section-subheading text-muted">What you need to know all about Burial @Model.PrimaryId.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="my-3">Coordinates</h4>
                <p class="text-muted" style="font-size:20px">@Model.LocationId</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Function Value</h4>
                <p class="text-muted" style="font-size:20px">@Model.FunctionValue</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Burial Number</h4>
                <p class="text-muted" style="font-size:20px">@Model.BurialnumberX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Structure Value</h4>
                <p class="text-muted" style="font-size:20px">@Model.StructureValue</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="my-3">Age at Death</h4>
                <p class="text-muted" style="font-size:20px">@Model.AgeatdeathX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Sex</h4>
                <p class="text-muted" style="font-size:20px">@Model.SexX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Subpublic Angled</h4>
                <p class="text-muted" style="font-size:20px">@Model.SubpubicAngle</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Sciatic Notch</h4>
                <p class="text-muted" style="font-size:20px">@Model.SciaticNotch</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="my-3">Head Direction</h4>
                <p class="text-muted" style="font-size:20px">@Model.HeaddirectionX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Goods</h4>
                <p class="text-muted" style="font-size:20px">@Model.GoodsX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Preservation</h4>
                <p class="text-muted" style="font-size:20px">@Model.PreservationX</p>
            </div>
            <div class="col-md-3">
                <h4 class="my-3">Wrapping</h4>
                <p class="text-muted" style="font-size:20px">@Model.WrappingX</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md">
                <h4 class="my-3">Description</h4>
                <p class="text-muted" style="font-size:20px">@Model.Description</p>
            </div>
            <div class="col-md">
                <h4 class="my-3">Notes</h4>
                <p class="text-muted" style="font-size:20px">@Model.Notes</p>
            </div>
            <div class="col-md">
                <h4 class="my-3">Length</h4>
                <p class="text-muted" style="font-size:20px">@Model.LengthX</p>
            </div>
            <div class="col-md">
                <h4 class="my-3">Depth</h4>
                <p class="text-muted" style="font-size:20px">@Model.DepthX</p>
            </div>

        </div>
</section>

