@{
    ViewData["Title"] = "Burials";
    ViewData["SubHead"] = "Our";
    ViewData["Head"] = "Burial Findings";
    ViewData["Button"] = "Learn More";
    ViewData["Btn"] = "btn btn-primary btn - xl text - uppercase";

    //filtering variables
    var distinctAdultSubadultX = Model.BestFinalMerges.Select(x => x.AdultsubadultX).Distinct().ToList();
    var distinctSexX = Model.BestFinalMerges.Select(x => x.SexX).Distinct().ToList();
    var distinctHairColorX = Model.BestFinalMerges.Select(x => x.HaircolorX).Distinct().ToList();
    var distinctFaceBundlesX = Model.BestFinalMerges.Select(x => x.FacebundlesX).Distinct().ToList();
    var distinctHeadDirectionX = Model.BestFinalMerges.Select(x => x.HeaddirectionX).Distinct().ToList();
    var distinctAgeAtDeathX = Model.BestFinalMerges.Select(x => x.AgeatdeathX).Distinct().ToList();
}
@model BurialsViewModel
@using System.Linq

<!--To determine if edit and delete buttons should show-->
<asp:TemplateField ShowHeader="False">
    <ItemTemplate>
        @if (User.IsInRole("Admin"))
        {
            <asp:LinkButton ID="EditButton" runat="server" CausesValidation="False"
                            CommandName="Edit" Text="Edit"></asp:LinkButton>
            <asp:LinkButton ID="DeleteButton" runat="server" CausesValidation="False"
                            CommandName="Delete" Text="Delete"></asp:LinkButton>
        }
    </ItemTemplate>
</asp:TemplateField>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Filters</h2>
            <h3 class="section-subheading text-muted">Take a look at the data.</h3>
        </div>
        <div class="row">
            <!--Form to get filter selections-->
            <form method="get" class="form-inline">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="adult-subadult-x-filter">Filter by Adult Subadult X:</label>
                            <select id="adult-subadult-x-filter" name="adult-subadult-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctAdultSubadultX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="sex-x-filter">Filter by Sex X:</label>
                            <select id="sex-x-filter" name="sex-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctSexX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="hair-color-x-filter">Filter by Hair Color X:</label>
                            <select id="hair-color-x-filter" name="hair-color-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctHairColorX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="face-bundles-x-filter">Filter by Face Bundles X:</label>
                            <select id="face-bundles-x-filter" name="face-bundles-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctFaceBundlesX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="head-direction-x-filter">Filter by Head Direction X:</label>
                            <select id="head-direction-x-filter" name="head-direction-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctHeadDirectionX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="age-at-death-x-filter">Filter by Age At Death X:</label>
                            <select id="age-at-death-x-filter" name="age-at-death-x" class="form-control">
                                <option value="">All</option>
                                @foreach (var value in distinctAgeAtDeathX)
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="depth_min">Minimum DepthX:</label>
                            <input type="number" id="depth_min" name="depth_min" min="0" step="1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="depth_max">Maximum DepthX:</label>
                            <input type="number" id="depth_max" name="depth_max" min="0" step="1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="length_min">Minimum LengthX:</label>
                            <input type="number" id="length_min" name="length_min" min="0" step="1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="length_max">Maximum LengthX:</label>
                            <input type="number" id="length_max" name="length_max" min="0" step="1" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-check">
                            <input type="checkbox" class="form-control form-check-input" id="function-not-null-filter" name="function-not-null">
                            <label class="form-check-label" for="function-not-null-filter"> Only show records where Function Value is not null</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-control form-check-input" id="structure-not-null-filter" name="structure-not-null">
                            <label class="form-check-label" for="=structure-not-null-filter"> Only show records where Structure is not null</label>
                        </div>
                    </div>
                </div>
                <!--Submit button to filter-->
                <center><button type="submit" class="btn-lg btn btn-primary">Filter</button></center>
            </form>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section" id="portfolio" style="padding-left:20px; padding-right:20px">
    <div class="container bg-light">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Burial Records</h2>
        </div>
        <div class="row">
            <!--Table to display filtered/all data-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Primary Key</th>
                        <th>Adult Subadult X</th>
                        <th>Sex X</th>
                        <th>Hair Color X</th>
                        <th>Face Bundles X</th>
                        <th>Head Direction X</th>
                        <th>Age at Death X</th>
                        <th>Depth X</th>
                        <th>Length X</th>
                        <th>Function Value</th>
                        <th>Structure Value</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BestFinalMerged bfm in Model.BestFinalMerges)
                    {
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["adult-subadult-x"]))
                        {
                            if (bfm.AdultsubadultX != ViewContext.HttpContext.Request.Query["adult-subadult-x"])
                            {
                                continue;
                            }
                        }
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["sex-x"]))
                        {
                            if (bfm.SexX != ViewContext.HttpContext.Request.Query["sex-x"])
                            {
                                continue;
                            }
                        }
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["hair-color-x"]))
                        {
                            if (bfm.HaircolorX != ViewContext.HttpContext.Request.Query["hair-color-x"])
                            {
                                continue;
                            }
                        }
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["face-bundles-x"]))
                        {
                            if (bfm.FacebundlesX != ViewContext.HttpContext.Request.Query["face-bundles-x"])
                            {
                                continue;
                            }
                        }
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["head-direction-x"]))
                        {
                            if (bfm.HeaddirectionX != ViewContext.HttpContext.Request.Query["head-direction-x"])
                            {
                                continue;
                            }
                        }

                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["age-at-death-x"]))
                        {
                            if (bfm.AgeatdeathX != ViewContext.HttpContext.Request.Query["age-at-death-x"])
                            {
                                continue;
                            }
                        }
                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["depth_min"]))
                        {
                            if (bfm.DepthX < int.Parse(ViewContext.HttpContext.Request.Query["depth_min"]))
                            {
                                continue;
                            }
                        }

                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["depth_max"]))
                        {
                            if (bfm.DepthX > int.Parse(ViewContext.HttpContext.Request.Query["depth_max"]))
                            {
                                continue;
                            }
                        }

                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["length_min"]))
                        {
                            if (double.Parse(bfm.LengthX) < int.Parse(ViewContext.HttpContext.Request.Query["length_min"]))
                            {
                                continue;
                            }
                        }

                        if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["length_max"]))
                        {
                            if (double.Parse(bfm.LengthX) > int.Parse(ViewContext.HttpContext.Request.Query["length_max"]))
                            {
                                continue;
                            }
                        }

                        if (ViewContext.HttpContext.Request.Query.ContainsKey("function-not-null") && string.IsNullOrEmpty(bfm.FunctionValue))
                        {
                            continue;
                        }
                        if (ViewContext.HttpContext.Request.Query.ContainsKey("structure-not-null") && string.IsNullOrEmpty(bfm.StructureValue))
                        {
                            continue;
                        }

                    <tr>
                        <td><a asp-controller="Home" asp-action="Details" asp-route-primaryid="@bfm.PrimaryId">@bfm.PrimaryId</a></td>
                        <td>@bfm.AdultsubadultX</td>
                        <td>@bfm.SexX</td>
                        <td>@bfm.HaircolorX</td>
                        <td>@bfm.FacebundlesX</td>
                        <td>@bfm.HeaddirectionX</td>
                        <td>@bfm.AgeatdeathX</td>
                        <td>@bfm.DepthX</td>
                        <td>@bfm.LengthX</td>
                        <td>@bfm.FunctionValue</td>
                        <td>@bfm.StructureValue</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-primaryid="@bfm.PrimaryId">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-primaryid="@bfm.PrimaryId">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Pagination - pages-->
        <center>
            <div page-model="@Model" page-action="Burials" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-outline-dark"
                      page-class-selected="btn-yellow" class="btn-group pull-right m-1">
            </div>
        </center>
    </div>
</section>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                    <h4>Parveen Anand</h4>
                    <p class="text-muted">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                    <h4>Diana Petersen</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>
