@{
    ViewData["Title"] = "Supervised Model";
    ViewData["SubHead"] = "Learn about the burials through a";
    ViewData["Head"] = "Supervised Model";
    ViewData["Button"] = "Input Data";
    ViewData["Btn"] = "btn btn-primary btn - xl text - uppercase";
}

@model CombinedInputData
<!-- Services-->
<br />
<br />
<section class="page-section bg-light" id="services">
    <div class="container">
        <div>
            <h2>Predict Wrapping Type: </h2>
            <!-- Add your form for user input -->
            <form asp-controller="Home" asp-action="PredictWrapping" method="post">
                <div class="form-group">
                    <label for="WrappingInputData.Depth">Depth: </label>
                    <input asp-for="WrappingInputData.Depth" class="form-control" id="WrappingInputData.Depth" name="WrappingInputData.Depth">
                </div>
                <div class="form-group">
                    <label for="WrappingInputData.Depth">Length:</label>
                    <input asp-for="WrappingInputData.Length" class="form-control" id="WrappingInputData.Length" name="WrappingInputData.Length">
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Headdirection_W" class="form-check-input" id="WrappingInputData.Headdirection_W" name="WrappingInputData.Headdirection_W">
                    <label class="form-check-label" for="WrappingInputData.Headdirection_W">Head Direction West</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label">Head Direction East</label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Facebundles_Y" class="form-check-input" id="WrappingInputData.Facebundles_Y" name="WrappingInputData.Facebundles_Y">
                    <label class="form-check-label" for="WrappingInputData.Facebundles_Y">Facebundle? (Y/N) </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Goods_Y" class="form-check-input" id="WrappingInputData.Goods_Y" name="WrappingInputData.Goods_Y">
                    <label class="form-check-label" for="WrappingInputData.Goods_Y">Goods Found? (Y/N) </label>
                </div>
                <span>Hair Color: </span>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Haircolor_B" class="form-check-input" id="WrappingInputData.Haircolor_B" name="WrappingInputData.Haircolor_B">
                    <label class="form-check-label" for="WrappingInputData.Haircolor_B">Brown/Dark Brown/Lt Brown </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Haircolor_D" class="form-check-input" id="WrappingInputData.Haircolor_D" name="WrappingInputData.Haircolor_D">
                    <label class="form-check-label" for="WrappingInputData.Haircolor_D">Blonde </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Haircolor_K" class="form-check-input" id="WrappingInputData.Haircolor_K" name="WrappingInputData.Haircolor_K">
                    <label class="form-check-label" for="WrappingInputData.Haircolor_K">Black </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Haircolor_R" class="form-check-input" id="WrappingInputData.Haircolor_R" name="WrappingInputData.Haircolor_R">
                    <label class="form-check-label" for="WrappingInputData.Haircolor_R">Red/Red-Bl </label>
                </div>
                <div class="form-check">
                    <input  type="checkbox" class="form-check-input">
                    <label class="form-check-label">Brown-Red </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Haircolor_unknown" class="form-check-input" id="WrappingInputData.Haircolor_unknown" name="WrappingInputData.Haircolor_unknown">
                    <label class="form-check-label" for="WrappingInputData.Haircolor_unknown">Unknown Hair Color </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Samplescollected_true" class="form-check-input" id="WrappingInputData.Samplescollected_true" name="WrappingInputData.Samplescollected_true">
                    <label class="form-check-label" for="WrappingInputData.Samplescollected_true">Samples Collected? (Y/N) </label>
                </div>
                <span>Age At Death: </span>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Ageatdeath_C" class="form-check-input" id="WrappingInputData.Ageatdeath_C" name="WrappingInputData.Ageatdeath_C">
                    <label class="form-check-label" for="WrappingInputData.Ageatdeath_C">Adult</label>
                </div>
                <div class="form-check">
                    <input  type="checkbox" class="form-check-input">
                    <label class="form-check-label">Child </label>
                </div>
                <div class="form-check">
                    <input asp-for="WrappingInputData.Ageatdeath_unknown" class="form-check-input" id="WrappingInputData.Ageatdeath_unknown" name="WrappingInputData.Ageatdeath_unknown">
                    <label class="form-check-label" for="WrappingInputData.Ageatdeath_unknown">Age at Death Unknown </label>
                </div>
                <!-- Add the rest of the checkbox inputs -->
                @if (ViewBag.WrappingPrediction != null)
                {
                    <h3>Wrapping Prediction: @ViewBag.WrappingPrediction</h3>
                }
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
        </div>
    </div>
</section>
<br />
<br />
<section class="page-section bg-light" id="services">
    <div class="container">
        <div>
            <h2>Predict Sex: </h2>
            <!-- Add your form for user input -->
            <form asp-controller="Home" asp-action="PredictSex" method="post">
                <div class="form-group">
                    <label for="SexInputData.Depth">Depth: </label>
                    <input asp-for="SexInputData.Depth" class="form-control" id="SexInputData.Depth" name="SexInputData.Depth">
                </div>
                <div class="form-group">
                    <label for="SexInputData.Length">Length:</label>
                    <input asp-for="SexInputData.Length" class="form-control" id="SexInputData.Length" name="SexInputData.Length">
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Headdirection_W" class="form-check-input" id="SexInputData.headdirection_W" name="SexInputData.Headdirection_W">
                    <label class="form-check-label" for="SexInputData.Headdirection_W">Head Direction West </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Head Direction East</label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Facebundles_Y" class="form-check-input" id="SexInputData.Facebundles_Y" name="SexInputData.Facebundles_Y">
                    <label class="form-check-label" for="SexInputData.Facebundles_Y">Facebundle? (Y/N) </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Goods_Y" class="form-check-input" id="SexInputData.Goods_Y" name="SexInputData.Goods_Y">
                    <label class="form-check-label" for="SexInputData.Goods_Y">Goods Found?</label>
                </div>
                <span>Wrapping Type: </span>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Bones </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Wrapping_H" class="form-check-input" id="SexInputData.Wrapping_H" name="SexInputData.Wrapping_H">
                    <label class="form-check-label" for="SexInputData.Wrapping_H">Half Wrap </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Wrapping_W" class="form-check-input" id="SexInputData.Wrapping_W" name="SexInputData.Wrapping_W">
                    <label class="form-check-label" for="SexInputData.Wrapping_W">Whole Wrap </label>
                </div>
                <span>Hair Color: </span>
                <div class="form-check">
                    <input asp-for="SexInputData.Haircolor_B" class="form-check-input" id="SexInputData.Haircolor_B" name="SexInputData.Haircolor_B">
                    <label class="form-check-label" for="SexInputData.Haircolor_B">Brown/Dark Brown/Lt Brown </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Haircolor_D" class="form-check-input" id="SexInputData.Haircolor_D" name="SexInputData.Haircolor_D">
                    <label class="form-check-label" for="SexInputData.Haircolor_D">Blonde </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Haircolor_K" class="form-check-input" id="SexInputData.Haircolor_K" name="SexInputData.Haircolor_K">
                    <label class="form-check-label" for="SexInputData.Haircolor_K">Black </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Haircolor_R" class="form-check-input" id="SexInputData.Haircolor_R" name="SexInputData.Haircolor_R">
                    <label class="form-check-label" for="SexInputData.Haircolor_R">Red/Red-Bl </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Haircolor_unknown" class="form-check-input" id="SexInputData.Haircolor_unknown" name="SexInputData.Haircolor_unknown">
                    <label class="form-check-label" for="SexInputData.Haircolor_unknown">Hair Color Unknown </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Samplescollected_true" class="form-check-input" id="SexInputData.Samplescollected_true" name="SexInputData.Samplescollected_true">
                    <label class="form-check-label" for="SexInputData.Samplescollected_true">Samples Collected? (Y/N): </label>
                </div>
                <span>Age At Death</span>
                <div class="form-check">
                    <input asp-for="SexInputData.Ageatdeath_C" class="form-check-input" id="SexInputData.Ageatdeath_C" name="SexInputData.Ageatdeath_C">
                    <label class="form-check-label" for="SexInputData.Ageatdeath_C">Adult </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Child </label>
                </div>
                <div class="form-check">
                    <input asp-for="SexInputData.Ageatdeath_unknown" class="form-check-input" id="SexInputData.Ageatdeath_unknown" name="SexInputData.Ageatdeath_unknown">
                    <label class="form-check-label" for="SexInputData.Ageatdeath_unknown">Age at Death Unknown</label>
                </div>
                <!-- Add the rest of the checkbox inputs -->
                @if (ViewBag.SexPrediction != null)
                {
                    <h3>Sex Prediction: @ViewBag.SexPrediction</h3>
                }
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
        </div>
    </div>
</section>

<!-- Results-->
@*<div id="predictionResult1"></div>

    @if (ViewBag.Prediction != null)
    {
        <p>Prediction: @ViewBag.Prediction</p>
    }*@

<!-- Add other existing content for Supervised.cshtml -->
@*<h2 class="section-heading text-uppercase">Make Predictions: </h2>
    <h3 class="section-subheading text-muted">Predict the type of wrapping: </h3>

    <form id="predictionForm1" action="@Url.Action("MakePrediction")" method="post">
        <div>
            <label for="headdirection">Head Direction:</label>
            <input type="text" id="headdirection" name="headdirection" required>
        </div>
        <div>
            <label for="depth">Depth:</label>
            <input type="number" step="any" id="depth" name="depth" required>
        </div>
        <div>
            <label for="facebundles">Facebundles:</label>
            <input type="text" step="any" id="facebundles" name="facebundles" required>
        </div>
        <div>
            <label for="goods">Goods:</label>
            <input type="text" step="any" id="goods" name="goods" required>
        </div>
        <div>
            <label for="haircolor">Hair Color:</label>
            <input type="text" step="any" id="haircolor" name="haircolor" required>
        </div>
        <div>
            <label for="samplescollected">Samples Collected:</label>
            <input type="text" step="any" id="samplescollected" name="samplescollected" required>
        </div>
        <div>
            <label for="length">Length:</label>
            <input type="number" step="any" id="length" name="length" required>
        </div>
        <div>
            <label for="ageatdeath">Age At Death (A, C):</label>
            <input type="text" step="any" id="ageatdeath" name="ageatdeath" required>
        </div>
        <div>
            <button type="submit">Predict</button>
        </div>
    </form>
    <div id="predictionResult1"></div>

    @if (ViewBag.Prediction != null)
    {
        <div>
            <h3>Prediction: @ViewBag.Prediction</h3>
        </div>
    }*@
    </div>

<!--Make predictions for male or female-->
<br />
<br />
<section>
    <div class="text-center">

        @*<h3 class="section-subheading text-muted">Predict the sex: </h3>

            <form id="predictionForm" action="@Url.Action("MakePredictionMF")" method="post">
                <div>
                    <label for="headdirection">Head Direction:</label>
                    <input type="text" id="headdirection" name="headdirection" required>
                </div>
                <div>
                    <label for="depth">Depth:</label>
                    <input type="number" step="any" id="depth" name="depth" required>
                </div>
                <div>
                    <label for="facebundles">Facebundles:</label>
                    <input type="text" step="any" id="facebundles" name="facebundles" required>
                </div>
                <div>
                    <label for="goods">Goods:</label>
                    <input type="text" step="any" id="goods" name="goods" required>
                </div>
                <div>
                    <label for="wrapping">Wrapping:</label>
                    <input type="text" step="any" id="wrapping" name="wrapping" required>
                </div>
                <div>
                    <label for="haircolor">Hair Color:</label>
                    <input type="text" step="any" id="haircolor" name="haircolor" required>
                </div>
                <div>
                    <label for="samplescollected">Samples Collected:</label>
                    <input type="text" step="any" id="samplescollected" name="samplescollected" required>
                </div>
                <div>
                    <label for="length">Length:</label>
                    <input type="number" step="any" id="length" name="length" required>
                </div>
                <div>
                    <label for="ageatdeath">Age At Death (A, C):</label>
                    <input type="text" step="any" id="ageatdeath" name="ageatdeath" required>
                </div>
                <div>
                    <button type="submit">Predict</button>
                </div>
            </form>
            <div id="predictionResult"></div>

            @if (ViewBag.PredMF != null)
            {
                <div>
                    <h3>Prediction: @ViewBag.PredMF</h3>
                </div>
            }*@
    </div>
